{% extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
<div class="registration-container">
    <h2>Register</h2>
    <form action="{% url 'registration' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" required>
        </div>
        <div class="form-group">
            <label for="yearOfBirth">yearOfBirth</label>
            <input type="text" id="yearOfBirth" name="yearOfBirth" required>

       <div class="form-group">
            <label for="phoneNumber">Phone</label>
            <input type="text" id="phoneNumber" name="phoneNumber" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <button type="submit">Register</button>
        </div>
    </form>
</div>
{% endblock %}
